<h1>Edit Page</h1>
<%= form_for @book do |f| %>
  <%= f.label :title %> 
  <%= f.text_field :title %> <br><br>

  <%= f.label :author %>
  <%= f.text_field :author %><br><br>

  <%= f.label :body %>
  <%= f.text_area :body %><br><br>

  <%= f.label :keywords %>
  <%= f.text_field :keywords %><br><br>

  <%= f.submit %>
<% end %>