<h1>New Book</h1>
<%= form_for @book do |f| %>
  <div><%= f.label :title %>
  <%= f.text_field :title, autofocus: true %></div>

  <div><%= f.label :author %>
  <%= f.text_field :author %></div>

  <div><%= f.label :body %>
 <section class="bigtext"> <%= f.text_area :body %></section></div>

  <div><%= f.label :keywords %>
  <%= f.text_field :keywords %></div>

  <%= f.submit %>
<% end %>
